{% extends 'Restaurant_Search/base.html' %}
{% load static %}
{% block content %}
<body>
	<!--
	header-img start 
	============================== -->
    <section id="hero-area">
      <!--
            subscribe start
            ============================ -->
            <section id="subscribe">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> Restaurants <span>nearby</span> YOU</h1>
                                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">There is no love sincerer than the love of food.</p>
                                <form class="form-inline" action="{% url 'searchRestaurant' %}">{% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                        <div class="input-group-addon">
                                            <input type="text" class="form-control" id="city" required='' list="city-list" name="city" placeholder="Location">
                                            <datalist id="city-list">
                                            <option value="Chennai">
                                            <option value="Bangalore">
                                            <option value="Mumbai">
                                            <option value="Pune">
                                            <option value="Delhi">
                                            </datalist>
                                        </div>
                                        <div class="input-group-addon"> <i class="glyphicon glyphicon-map-marker"></i><input type="text" class="form-control" id="search" name="search" placeholder="Search for Restaurant"></div>
                                            <div class="input-group-addon">
                                                <button onclick='javascript:loadRestaurant();' class="btn btn-default" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .col-md-12 close -->
                    </div><!-- .row close -->
                </div><!-- .containe close -->
            </section><!-- #subscribe close --> 
            {% comment %} <img class="img-responsive" src="{% static 'images/blog/blog-bg.jpg' %} " alt=""> {% endcomment %}

    </section>

    

    <!--
    Slider start
    ============================== -->
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Featured <span>Works</span></h3>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-1.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-2.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-3.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-4.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-1.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-2.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-3.jpg' %} " alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="{% static 'images/slider/slider-img-4.jpg' %} " alt="">
                            </div>
                        
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->



   
    
    <!--
    footer  start
    ============================= -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block wow fadeInLeft"  data-wow-delay="200ms">
                        <h3>CONTACT <span>INFO</span></h3>
                        <div class="info">
                            <ul>
                                <li>
                                  <h4><i class="fa fa-phone"></i>Telefone</h4>
                                  <p>(000) 123 456 78- (000) 123 4567 89</p>
                                    
                                </li>
                                <li>
                                  <h4><i class="fa fa-map-marker"></i>Address</h4>
                                  <p>2046 Blue Spruce Lane Laurel Canada</p>
                                </li>
                                <li>
                                  <h4><i class="fa fa-envelope"></i>E mail</h4>
                                  <p>rest@gmail.com - rest@mail.ru</p>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft"  data-wow-delay="700ms">
                        <h3>LATEST <span>BLOG POSTS</span></h3>
                        <div class="blog">
                            <ul>
                                <li>
                                    <h4><a href="#">Sep 9-2018</a></h4>
                                    <p>User*****: On time food delivery</p>
                                </li>
                                <li>
                                    <h4><a href="#">Sep 8-2019</a></h4>
                                    <p>User****: Cool site</p>
                                </li>
                            </ul>                
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
                <div class="col-md-4">
                    <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
                        <div class="gallary">
                            <h3>PHOTO <span>STREAM</span></h3>
                            <ul>
                                <li>
                                    <a href="#"><img src="{% static 'images/photo/photo-1.jpg' %} " alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/photo/photo-2.jpg' %} " alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/photo/photo-3.jpg' %} " alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/photo/photo-4.jpg' %} " alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="social-media-link">
                            <h3>Follow <span>US</span></h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
    footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2019 - All Rights Reserved.Design and Developed By <a href="#">Arunkumar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</body>
{% block loader %}
{{ block.super }}
{% endblock loader %}


<script>

function loadRestaurant(){
   
    var city = document.getElementById('city').value
    var search_key = document.getElementById('search').value
    if(city==''){
        alert("Please select the city");
    }
    else{
         $("body").css({'opacity': '0.2',});
         $(".loader").show();
        
    }

}
</script>

</html>
{% endblock content %}
