{% extends 'Restaurant_Search/base.html' %}
{% load static %}

{% block content %}

<body>
<section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                    
                        <h1 class="heading"> {% if no_results %}<span>No Results for</span> {% else %}<span>Search Results for </span>{% endif %} "{{search_key}}" <span>in</span> "{{city}}" </h1>
                       
                        <ul>
                       {% for key1,value1 in data.items %}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="{% cycle 'blog-img' 'blog-img' 'blog-img-2' 'blog-img-2' %}">
                                    <img src=" {% static 'images/blog/blog-img' %}-{% cycle '1' '2' '3' '4' '5' '6' %}.jpg " alt="blog-img">
                                </div>
                                
                                <div class="content-right">
                                    <h3><a href="javascript:loadRestaurant('{{key1}}','{{value1.name}}');">{{value1.name}}</a></h3>
                                    <p> Cusines : {{value1.cusine}}</p>
                                    <p> Rating : <span>{{value1.rating}}</span></p>
                                </div>
                            </li>
                        {% endfor %}    
                        </ul>
                        {% if no_results %}
                        <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="100ms" href="{% url 'home' %}" role="button">Search Again</a>
                        {% else %}
                        <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1000ms" href="#" role="button">More Info</a>
                        <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="100ms" href="{% url 'home' %}" role="button">Search Again</a>

                        {% endif %}
                        
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->

    <section id="price" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"><span>Ratings</span> and <span>User Comments</span></h1>
                        <div class="pricing-list">
                        <div class="title" id="Restaurant_name">
                                
                            </div>
                            <ul>
                                <div id="search_results">

                                </div>
                            <ul>
                           
                               
                            <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="400ms" href="#" role="button">More Comments</a>
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #price close -->
</body>

{% block loader %}
{% endblock loader %}


    
<script>
function loadRestaurant(res_id,name){
     $("body").css({'opacity': '0.2',});
     $(".loader").show();
    var res_id = res_id;
    var res_name = name;
    $.ajax({
        type: 'POST',
        url: '{% url 'searchRestaurant' %}?res_id='+res_id,
        success:function(data){
            console.log(data);
             $("body").css({'opacity': '1.0',});
             $(".loader").hide();
            var Restaurant_name = '<h3><span>'+res_name+'</span></h3>';

            var content = '<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2>'+data["all_reviews"]['reviews'][0]["review"]["user"]["name"]+'</h2>'+
                                            '<div class="border-bottom"></div>'+
                                            '<span>Rating:'+data['all_reviews']['reviews'][0]['review']['rating']+'/5 </span>'+
                                        '</div>'+
                                        '<p>'+data['all_reviews']['reviews'][0]['review']['review_text']+'</p>'+
                                    '</div>'+
                                '</li>'+
                                '<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2>'+data["all_reviews"]['reviews'][1]["review"]["user"]["name"]+'</h2>'+
                                            '<div class="border-bottom"></div>'+
                                            '<span>Rating:'+data['all_reviews']['reviews'][1]['review']['rating']+'/5 </span>'+
                                        '</div>'+
                                        '<p>'+data['all_reviews']['reviews'][1]['review']['review_text']+'</p>'+
                                    '</div>'+
                                '</li>'+
                                '<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2>'+data["all_reviews"]['reviews'][2]["review"]["user"]["name"]+'</h2>'+
                                            '<div class="border-bottom"></div>'+
                                            '<span>Rating:'+data['all_reviews']['reviews'][2]['review']['rating']+'/5 </span>'+
                                        '</div>'+
                                        '<p>'+data['all_reviews']['reviews'][2]['review']['review_text']+'</p>'+
                                    '</div>'+
                                '</li>'+
                                '<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2>'+data["all_reviews"]['reviews'][3]["review"]["user"]["name"]+'</h2>'+
                                            '<div class="border-bottom"></div>'+
                                            '<span>Rating:'+data['all_reviews']['reviews'][3]['review']['rating']+'/5 </span>'+
                                        '</div>'+
                                        '<p>'+data['all_reviews']['reviews'][3]['review']['review_text']+'</p>'+
                                    '</div>'+
                                '</li>';
                        $("#price").show();
                         $('#Restaurant_name').html(res_name);
                         $('#search_results').html(content);
        }

    })
   
}




                            
                                


</script>

</html>
{% endblock content %}
