{% extends 'Restaurant_Search/base.html' %}
{% load static %}

{% block content %}

<body>
<section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                    
                        <h1 class="heading"> {% if no_results %}<span>No Results for</span> {% else %}<span>Search Results for </span>{% endif %} "{{search_key}}" <span>in</span> "{{city}}" </h1>
                       
                        <ul>
                       {% for key1,value1 in data.items %}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="{% cycle 'blog-img' 'blog-img' 'blog-img-2' 'blog-img-2' %}">
                                    <img src=" {% static 'images/blog/blog-img' %}-{% cycle '1' '2' '3' '4' '5' '6' %}.jpg " alt="blog-img">
                                </div>
                                
                                <div class="content-right">
                                    <h3><a href="#price" onclick='javascript:loadRestaurant("{{key1}}","{{value1.name}}");'>{{value1.name}}</a></h3>
                                    <p> Cusines : {{value1.cusine}}</p>
                                    <p> Rating : <span class="badge badge-primary">{{value1.rating}}</span></p>
                                    <p> Cost for Two: ₹<span>{{value1.average_cost_for_two}}</span></p>
                                </div>
                            </li>
                        {% endfor %}    
                        </ul>
                    </div>

                        {% if no_results %}
                          <div class="row">
                        <div class="block">
                            <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="400ms" data-wow-delay="90ms" href="{% url 'home' %}" role="button">Search Again</a>
                         </div>
                         </div>
                        {% else %}
                        <div class="row">
                        <div class="block">
                            <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="400ms" data-wow-delay="90ms" href="#" role="button">More Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="100ms" href="{% url 'home' %}" role="button">Search Again</a>
                        </div>
                        </div>
                        {% endif %}
                        
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->

            



    <section id="price" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"><span>Ratings</span> and <span>User Comments</span></h1>
                        <div class="pricing-list">
                        <div class="title" id="Restaurant_name">
                                
                            </div>
                            <ul>
                                <div id="search_results">

                                </div>
                            <ul>
                           
                               
                            <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="400ms" href="#" role="button">More Comments<br><span style="font-size:10px">&nbsp;</span></a>
                            <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="400ms" href="#"  onclick="javascript:loadFeedback();" role="button">Comments<br><span style="font-size:10px">(Feedbacks entered in this site)</span></a>
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #price close -->

    <!-- The Modal -->
            <div class="modal" id="myComments">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">          
                    <h4 class="title modal-title"><span style="color:#ff530;">Top 10 comments enterted in this site are...</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="list-group">
                        <div id="comment-list-section">

                        </div>
                    <ul>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

                </div>
            </div>
            </div>


    <!--
            subscribe start
            ============================ -->
            <section id="subscribe" style="display:none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block">
                                <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> Write <span>your</span> Reviews</h1>
                                <form class="form-inline" action="javascript:submitReview();" id='form_data'>{% csrf_token %}
                                    <div class="form-group">

                                        <input type="hidden" class="form-control" id="res_name" name="res_name">
                                        <input type="hidden" class="form-control" id="username" value="TestUser" name="username" >
                                        <div class="input-group-addon">
                                            <textarea class="form-control" id="review" name="review" placeholder="Your feedbacks on this restaurant..."></textarea>
                                        </div>
                                        <div class="input-group-addon">
                                        <div class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>   
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            </div>
                                        </div>
                                            <div class="input-group-addon">
                                                <button  class="btn btn-default" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .col-md-12 close -->
                    </div><!-- .row close -->
                </div><!-- .containe close -->
            </section><!-- #subscribe close --> 
</body>

{% block loader %}
{{ block.super }}
{% endblock loader %}


    
<script>
function loadRestaurant(res_id,name){
     $("body").css({'opacity': '0.2',});
     $(".loader").show();
    var res_id = res_id;
    var res_name = name;
    $.ajax({
        type: 'POST',
        url: '{% url 'searchRestaurant' %}?res_id='+res_id,
        success:function(data){
         //   console.log(data);
            $("body").css({'opacity': '1.0',});
            $(".loader").hide();
            var Restaurant_name = '<table>'+
                                    '<tr><th><h4><span>Restaurant Name</th><td>:&nbsp;</span>'+res_name+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Category</th><td>:&nbsp;</span>'+data["establishment"]+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Timings </th><td>:&nbsp;</span>'+data["timings"]+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Highlights</th><td>:&nbsp; </span>'+data["highlights"]+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Address</th><td>:&nbsp;</span>'+data["location"]['address']+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Contact</th><td>:&nbsp;</span>'+data["phone_numbers"]+'</h4></td></tr>'+
                                    '<tr><th><h4><span>Menu</th><td>:&nbsp;</span><a target="_blank" href="'+data["menu_url"]+'">Go To Menu</a></h4></td></tr>'+
                                    '<tr><th><h4><span>Photos URL</th><td>:&nbsp;</span><a target="_blank" href="'+data["photos_url"]+'">View the Restaurant Photos</a></h4></td></tr>'+
                                    '<tr><th><h4><span>Order Now</th><td>:&nbsp;</span><a target="_blank" href="'+data["photos_url"]+'">Order Now!!!</a></h4></td></tr>'+
                                    '<tr><th><h4><span>Restaurant URL</th><td>:&nbsp;</span><a target="_blank" href="'+data["url"]+'">Go To Restaurant Page</a></h4></td></tr>'+
                                    '</table>';

            var content = "";
            if (data["all_reviews"]['reviews'].length == 0){
                content += '<h2 class="title"><span> SORRY! No reviews found for this restaurant!!! &#128579;</span></h2>';
            }
            else{
            for(let i=0; i< data["all_reviews"]['reviews'].length; i++){
                content += '<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2>'+data["all_reviews"]['reviews'][i]["review"]["user"]["name"]+'</h2>'+
                                            '<div class="border-bottom"></div>'+
                                            '<span>Rating:'+data['all_reviews']['reviews'][i]['review']['rating']+'/5 </span>'+
                                        '</div>'+
                                        '<p>'+data['all_reviews']['reviews'][i]['review']['review_text']+'</p>'+
                                    '</div>'+
                                '</li>';
                                
                   }
            }
            $("#price").show();
            $("#subscribe").show();
            $('#Restaurant_name').html(Restaurant_name);
            $('#search_results').html(content);
            document.getElementById('res_name').value = res_name;

        }

    })
   
}




                            
                                
$(':radio').change(function() {
  console.log('New star rating: ' + this.value);
});

function submitReview(){
    
    $("body").css({'opacity': '0.2',});
    $(".loader").show();
    $.ajax({
        type: 'POST',
        url : '{% url 'saveFeedback' %}',
        data: $("#form_data").serializeArray(),
        success: function(data){
            $("body").css({'opacity': '1.0',});
            $(".loader").hide();
            if(data.includes('success')){
                alert("Thanks for sharing your reviews! It means a lot to us!!!");
                $("#form_data").trigger('reset');
            }
            else{
                alert("Sorry we're unable to save your feedbacks now!! We Regret for the inconvenience!!!");
            }
            

        }


    });
    

}

function loadFeedback(){
    $("body").css({'opacity': '0.2',});
    $(".loader").show();
    var res_name = document.getElementById('res_name').value
    $.ajax({
        type: 'GET',
        url : '{% url 'loadFeedback' %}?res_name='+res_name,
        success: function(data){
            $("body").css({'opacity': '1.0',});
            $(".loader").hide();
           // console.log(data);
            
            var myComments="";
            if(data.length==0){
                myComments += '<h2>NO Feedbacks are Registed for this Restaurant</h2>'
            }
            for(let i = 0; i < data.length; i++){
                myComments += '<li class="list-group-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">'+
                                    '<div class="item">'+
                                        '<div class="item-title">'+
                                            '<h2><span>'+data[i]['username']+'<span class="pull-right" style="color:#ffd700">'+'★'.repeat(data[i]['rating'])+'</span></h2>'+
                                        '</div>'+
                                        '<p>'+data[i]['feedback']+'</p>'+
                                    '</div>'+
                                '</li>';
            }


            $('#comment-list-section').html(myComments);
            $("#myComments").modal('show');
        }

    });

}

</script>

</html>
{% endblock content %}
